{erl_opts, [debug_info]}.
{deps,
       [ 
         {yaws,  {git, "https://github.com/klacke/yaws.git",
                     {tag, "master"}}},
         {erlson, {git, "http://github.com/willemdj/erlsom.git",
                     {tag, "master"}}}
       ]
 }.


{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.




{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.


{overrides,
 [{override, vc_proto_1, [
     {plugins, [pc]},
     {artifacts, ["priv/vc_proto_1_drv.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
     }]},

  {override, yaws, [
     {plugins, [pc]},
     {artifacts, ["priv/lib/epam.so",
                  "priv/lib/setuid_drv.so",
                  "priv/lib/yaws_sendfile_drv.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
